langchain
langchain-community
langchain-neo4j
langchain-openai
langchain-core
langchain-text-splitters
langgraph
faiss-cpu
python-dotenv
langchain-chroma
pypdf
tavily-python
langchain-experimental
ipykernel
fpdf2
