langchain
langchain-community
langchain-neo4j
langchain-openai
langchain-core
langchain-text-splitters
langgraph
faiss-cpu
python-dotenv
langchain-chroma
pypdf
tavily-python
langchain-experimental
langchain-unstructured
chromadb
unstructured[pdf,local-inference]
pytesseract
pdf2image
open_clip_torch
torch
torchvision
Pillow
ipykernel
fpdf2
